* {
  font-family: 'K2D', sans-serif;
  text-align: center;
}

 nav button {
  text-decoration: none;
  color: black;
  padding-left: 3%;
  background-color: rgba(255,199,0,0);
  border: none;
}
 nav button:hover {
  color: rgb(0,43,116);
  background-color: rgba(255,199,0,0);
  border: none;
}

#nav {
  border-bottom: 1px solid black;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: white;
}

.row h1 {
  margin-top: 25%;
  color: white;
  text-shadow: 1px 1px 4px rgb(0,41,255);
  text-transform: uppercase;
}
.row h4 {
  color: white;
}

.row h2 {
  text-shadow: 1px 1px 4px rgb(0,41,255);
  margin-top: 10%;
  text-transform: uppercase;
}

.gradient {
  background-image: linear-gradient(to right, rgba(0,0,0,.53), rgba(0,0,0,.53));
  padding-bottom: 15%;
  height: auto;
}

#home {
  background: url("resources/first.gif");
  padding: 5%;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 125vh;
}

#home p {
  color: white;
  font-size: 30px;
  text-shadow: 1px 1px 4px rgb(0,41,255);
}

#experience {
  color: white;
  background: url("resources/skyline.jpg");
  padding: 5%;
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
  background-size: cover;
  height: 125vh;
}

#projects {
  padding: 5%;
  color: white;
  background: url("resources/desk.jpg");
  padding: 5%;
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
  background-size: cover;
  height: 125vh;
}

#projects p {
  background-color: rgba(255,255,255,.8);
  border-radius: 8px;
}



#contact {
  padding: 5%;
  color: white;
  background: url("resources/phone.jpg");
  padding: 5%;
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
  background-size: cover;
  height: 125vh;
}

.resumeHolder {
  color: white;
  padding: 5%;
  background-color: rgb(51,59,80);
  box-shadow: 1px 1px 8px black;
  width: 80%;
  margin-left: 10%;
}

.resumeHolder a {
  color: white;
  border: 1px solid rgb(255,199,0);
  padding: 2%;
  transition-duration: 2s;
}

.resumeHolder a:hover {
  transition-duration: 2s;
}

.websiteGifs p {
  color: black;
  padding: 2%;
}
.websiteGifs a {
  width: 100%;
  padding: 2%;
}

.websiteGifs img {
  width: 100%;
  padding: 2%;
}

#moreToCome {
  border-radius: 8px;
  margin-bottom: 6%;
}

#contactBox {
  height: auto;
  width: 40vw;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: rgb(0,108,181);
  border: 1px solid black;
  box-shadow: 1px 2px 8px black;
}

#contactBox a {
  color: white;
  font-size: 5vh;
  padding: 2%;
}

@media only screen
and (min-width: 320px)
and (max-width: 410px) {

#home {
  padding-top: 25%;
   height: auto;
}

#experience {
  height: auto;
}

#projects {
  height: auto;
}

#contact {
  height: auto;
}

#contactBox {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 5%;
}

.resumeHolder {
  width: 100%;
  margin-left: 0%;
}

}

@media only screen
and (min-width: 411px)
and (max-width: 1300px) {

  #home {
  padding-top: 25%;
  height: auto;
  }

  #experience {
  height: auto;
  }

  #projects {
  height: auto;
  }

  #contact {
  height: auto;
  }

  #contactBox {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 5%;
  }

  .resumeHolder {
  width: 100%;
  margin-left: 0%;
  }

}
